* { margin: 0}

body {
    width: 416px;
    margin: 0 auto;
}

.navbar {
    height: 60px;
    background-color: #0070ba;
}

.greet {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    padding: 12px;
    margin: 3px;
}

.logout {
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 12px;
    border: 1px solid;
    margin: 3px;
    border-radius: 5px;
}

.logo {
    height: 40px;
    width: 60px;
    background-image: url(../images/logo.png);
}

.rooms {
    border: 1px solid #0070ba;
    height: 70px;
}

.title-rooms {
    margin: 10px;
}
.rooms button {
    background-color: aliceblue;
    padding: 2px 10px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 3px;
    color: #000;
    border: 1px solid #0070ba;
}

.msg-window {
    background-color: aliceblue;
    min-height: 600px;
    height: auto;
    border: 1px solid #0070ba;
    overflow: auto;
    max-height: 700px;
}

form {
    border: 1px solid #0070ba;
}

input {
    height: 30px;
    width: 80%;
    border: 0;
    padding: 0
}

.sendBtn {
    background-color: #0070ba;
    color: #fff;
    width: 19%;
    height: 36px;
    border: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

ul li {
    padding: 10px;
}
.msg-window li:nth-child(odd) {
    background: #fff;
}

.msgAuthor {
    color: #0070ba;
    font-weight: bold;
}

.msgText {
    display: inline;
}

.msgDate {
    color: #0070ba;
    float: right;

}
.typing {
    display: none;
}
